
body {
    background-color: #F2F8FC;
    font-family: "Segoe UI", Arial, sans-serif;
  }

  .logo img {
    max-width: 130px; 
    max-height: 60px; 
    margin: 10px;
  }
  
  nav {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block; 
    margin-right:10px;
  }
  
  nav a {
    display: block; 
    padding: 10px;
    color: #000000; /
    text-decoration: none;
  }

  .p1 {
    border: 1px solid #7EA1B8;
    border-radius: 20px;
    padding: 80px;
    font-size: 72px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: left;
      
  }
.p2 {
    font-size: 22px;
    margin-top: 60px;
    margin-left: 15px;
    text-align: left;
  }
  
  .highlight {
    background-color: #FBFF93;
  }
  
  .highlight:hover {
    background-color: #FFA7A6;
  }
  
  .project-image {
    display: block;;
    width: 1000px;
    margin: auto;
    opacity: 0.9;
  }

  .project-image + .project-image {
    margin-top: -200px;
  }

  .image-container img:hover {
    opacity: 0.3;
  }


  .profile-picture {

      display: block;
      width: 300px;
      margin:auto;
      opacity: 0.9;
    }
  
    .p3 { 
      margin-bottom: -120px;
      margin-left: 390px;
      font-size: 20px;
      font-family: Calibri;
      text-align: left;
    }

    .p4 {
      border: 1px solid #7EA1B8;
      border-radius: 20px;
      padding: 15px;
      font-size: 20px;
      margin-top: 50px;
      margin-bottom: 10px;
      text-align: left;

    }

    .p5 {
      text-align: center;
      font-size: 25px;
      margin-bottom: -10px;
    }

    .p6 {
      text-align: center;
    }

    
    .footer-content {
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .instagram-icon img,
    .linkedin-icon img,
    .mail-icon img {
      transform: translateY(125px);
      float: right;
      width: 16px;
      height: 16px;
      margin-right: 8px; 
    }

    .footer-content {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 50px;
      background-color: #F2F8FC;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }
    

    
    